*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "TTRoundsNeue-Light";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff) format("woff");
}
@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}
@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}
@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff) format("woff");
}
@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff) format("woff");
}
a {
  font-family: "TTRoundsNeue-Light";
}

p {
  font-family: "TTRoundsNeue-Thin";
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TTRoundsNeue-Regular", Arial, sans-serif;
}

.banner-text-container h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 60px;
}

.about-container h2 {
  padding-bottom: 50px;
}

.banner-container h1 {
  color: rgb(1, 24, 191);
  text-transform: uppercase;
}

.slider-text p:first-child {
  color: rgb(1, 24, 191);
  font-family: "TTRoundsNeue-Regular";
  font-size: 1.4rem;
}

.slider-text p:nth-child(2) {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.more-projects-link a {
  font-size: 2rem;
  text-decoration: none;
}

.more-projects-link a:hover {
  color: rgb(1, 24, 191);
}

.about-container p {
  padding-bottom: 2rem;
}

.contact-container h2 {
  padding-bottom: 1rem;
}

@media (min-width: 1440px) {
  p {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3.5rem;
  }
}
.banner-container {
  position: relative;
}

.banner-grid-container {
  position: relative;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.banner-text-container {
  position: absolute;
  top: 30%;
}

.banner-carousel-container {
  position: absolute;
  bottom: 15%;
  z-index: 1;
}

.carousel {
  margin: 0 auto 0 auto;
  width: 90%;
}

.banner-background {
  position: absolute;
  width: 100%;
  min-height: 20vh;
  bottom: 5vw;
  background-color: rgb(235, 189, 33);
}

@media (min-width: 992px) and (orientation: portrait) {
  .carousel {
    position: relative;
    right: 20%;
    width: 70vw;
  }
}
@media (min-width: 992px) {
  .banner-grid-container {
    width: 80%;
    top: -75px;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .banner-text-container {
    position: relative;
    top: 30%;
  }
  .banner-carousel-container {
    position: initial;
    bottom: initial;
    z-index: 2;
    align-self: end;
  }
  .banner-background {
    position: absolute;
    width: 30%;
    min-height: 90vh;
    bottom: -10%;
    right: 0;
    background-color: rgb(235, 189, 33);
    z-index: 1;
  }
  .banner-carousel-container {
    position: relative;
    z-index: 2;
  }
}
.projects {
  position: relative;
  margin-top: 5vw;
  padding-bottom: 5vw;
  background-color: rgb(244, 241, 237);
}

.projects-flex-container {
  width: 90vw;
  margin: 0 auto 0 auto;
}

.projects h2 {
  padding-bottom: 1rem;
}

.project-card {
  margin-bottom: 20px;
  position: relative;
  background-color: white;
}

.project-links-container {
  width: 100%;
  padding-top: 3vh;
  display: flex;
}

.project-links-container a {
  color: rgb(1, 24, 191);
  margin-right: 15px;
}

.project-links-container a:hover {
  border-bottom: 1px solid rgb(1, 24, 191);
}

.project-card-image-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-card-image-container img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  width: 90vw;
  height: 100%;
  background-color: rgb(244, 241, 237);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.project-card:hover .overlay {
  opacity: 0;
}

.slider {
  width: 90vw;
}

.slider-text {
  padding: 1rem;
}

.more-projects-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .project-card:hover .slider {
    width: 30vw;
  }
  .slider-text {
    padding: 0 30px;
  }
  .card2:hover .background-block:nth-child(2) {
    width: calc(30vw + 50px);
  }
}
@media screen and (min-width: 1440px) {
  .project-card:hover .slider {
    width: 50%;
  }
  .card2:hover .background-block:nth-child(1) {
    width: 130%;
  }
  .card2:hover .background-block:nth-child(2) {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .projects {
    background-color: rgb(244, 241, 237);
    margin-top: -50px;
  }
  .projects-flex-container {
    display: flex;
    width: 80vw;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto 0 auto;
  }
  .project-card {
    position: relative;
    z-index: 1;
    border-left: none;
    width: 50vw;
  }
  .project-card-image-container {
    position: relative;
    width: 50vw;
  }
  .project-card-image-container img {
    object-fit: cover;
  }
  .card2 {
    align-self: flex-end;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    width: 100%;
    background-color: rgb(244, 241, 237);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  .project-card:hover .overlay {
    opacity: 0;
  }
  .border-accent {
    display: none;
  }
  .background-block {
    position: absolute;
    z-index: -1;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .card1 .background-block {
    background-color: rgb(1, 24, 191);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    left: -50px;
  }
  .card1:hover .background-block {
    width: 120%;
  }
  .card2 .background-block:nth-child(1) {
    background-color: rgb(235, 189, 33);
    width: 100%;
    height: 100%;
    bottom: 40px;
    right: -50px;
  }
  .card2 .background-block:nth-child(2) {
    background-color: rgb(1, 24, 191);
    width: 5%;
    height: 20%;
    right: 100%;
    bottom: 0%;
  }
  .card3 .background-block {
    height: 5%;
    bottom: 100%;
  }
  .card3 .background-block:nth-child(1) {
    background-color: rgb(1, 24, 191);
    width: 100%;
    z-index: 1;
  }
  .card3 .background-block:nth-child(2) {
    background-color: rgb(235, 189, 33);
    width: 0%;
    left: 100%;
  }
  .card3:hover .background-block:nth-child(1) {
    width: 120%;
  }
  .card3:hover .background-block:nth-child(2) {
    width: 40%;
  }
  .slider {
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
    background-color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    overflow: hidden;
  }
  .slider-text {
    width: 18.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .card1 .slider,
  .card3 .slider {
    left: 100%;
  }
  .card2 .slider {
    right: 100%;
  }
  .card1 .slider-accent {
    background-color: rgb(235, 189, 33);
    width: 1rem;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  .card1:hover .slider-accent {
    height: 20%;
  }
  .more-projects-link {
    justify-content: flex-end;
    margin-right: 10vw;
  }
}
.about-text-container {
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.about-text-container img {
  margin: auto;
}

.about-container h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.about-text {
  padding: 0px 10px;
  margin-bottom: 5vh;
}

.about-text p {
  padding-bottom: 0px;
}

.text1,
.text3 {
  border-left: 2px solid rgb(1, 24, 191);
}

.text2 {
  border-right: 2px solid rgb(1, 24, 191);
}

.text2,
.about-skills-text {
  text-align: right;
}

.about-block-container {
  position: relative;
  min-width: 100vw;
}

.about-block-object-top {
  position: absolute;
  width: 10vw;
  height: 5vh;
  top: 0;
  left: 0;
  background-color: rgb(235, 189, 33);
}

.about-skills-container {
  background-color: rgb(235, 189, 33);
  position: relative;
  width: 100vw;
}

.about-skills-text {
  position: relative;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 5vh 0;
}

.about-skills-container img {
  width: 100%;
  height: 100%;
}

.about-skills-container .profile-picture-desktop {
  display: none;
}

.skills-flex-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-left: 5%;
  padding-bottom: 5%;
}

.skills-column h4 {
  margin-bottom: 1.5rem;
  text-align: right;
  padding-right: 5px;
}

.bars-column {
  width: 400px;
}

.skills-bar {
  background-color: white;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.html-bar {
  width: 75%;
}

.css-bar {
  width: 60%;
}

.js-bar {
  width: 40%;
}

.react-bar {
  width: 36%;
}

.sass-bar {
  width: 38%;
}

.bootstrap-bar {
  width: 42%;
}

@media screen and (min-width: 992px) and (max-width: 1920px) {
  .about-text {
    width: 50vw;
  }
}
@media screen and (min-width: 1920px) {
  .about-text {
    width: 35vw;
  }
}
@media (min-width: 992px) {
  .about-text-container h2 {
    margin: 0 auto;
  }
  .about-container h3 {
    font-size: 3rem;
  }
  .about-text-container {
    padding-top: 20px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .about-text {
    border: none;
    position: relative;
  }
  .text1 {
    align-self: flex-end;
  }
  .text2 {
    text-align: left;
  }
  .text3 {
    align-self: center;
    transform: translateX(150px);
  }
  .about-block-object-bottom {
    position: absolute;
    width: 1vw;
    min-height: 50vh;
    bottom: 0;
    right: 0;
    background-color: rgb(1, 24, 191);
  }
  .about-skills-container {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
  }
  .about-skills-text {
    position: relative;
    text-align: left;
    width: 35vw;
    margin-top: 5vh;
    margin-left: 10%;
  }
  .skills-image-container {
    position: relative;
  }
  .about-skills-container img {
    width: 40vw;
    display: block;
    object-fit: scale-down;
  }
  .about-skills-container .profile-picture-mobile {
    display: none;
  }
  .about-skills-container .profile-picture-desktop {
    display: block;
  }
  .skills-flex-container {
    position: absolute;
    left: -150px;
    bottom: 100px;
    z-index: 1;
  }
}
.contact-container {
  background-color: rgb(235, 189, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
}

.contact-info {
  margin-bottom: 1.2rem;
}

.contact-container i {
  padding-right: 5px;
}

@media (max-width: 768px) {
  nav .navbar-main-links {
    display: none;
  }
  .navbar-hamburger-icon {
    position: relative;
    height: 50px;
    width: 50px;
  }
}
.header-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.nav-container {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.nav-container a {
  font-size: 1.6rem;
}

.nav-container a:hover {
  color: black;
}

.navbar-main-links a:hover {
  border-bottom: black solid 2px;
}

.navbar-own-logo {
  display: flex;
  align-items: center;
}

.navbar-own-logo img {
  height: 1.6rem;
}

.navbar-main-links, .navbar-icon-links {
  display: flex;
  align-items: center;
}

.navbar-main-links li {
  padding: 0 20px;
}

.navbar-icon-links li {
  padding-left: 10px;
}

.navbar-hamburger-icon {
  display: none;
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(1, 24, 191);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.nav-overlay a:hover, .nav-overlay a:focus {
  color: white;
}

.nav-overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 2.5%;
  font-size: 60px;
}

@media screen and (max-width: 850px) {
  .navbar-hamburger-icon {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-height: 450px) {
  .nav-overlay a {
    font-size: 20px;
  }
  .nav-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.projects-page {
  position: relative;
  height: 100vh;
}

.projects-page-title h1 {
  padding-top: 100px;
  text-align: center;
}

.projects-page-title p {
  text-align: center;
  padding: 0 30px;
}

.projects-page-flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.projects-page-sub-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.projects-page-sub-container a {
  font-family: "TTRoundsNeue-Thin", Arial, sans-serif;
  font-size: 1.2rem;
  padding: 10px;
}

.projects-page-sub-container a:hover {
  color: rgb(1, 24, 191);
}

.projects-page-block {
  position: absolute;
  z-index: -1;
}

.projects-page-block1 {
  width: 20px;
  height: 60vh;
  background-color: rgb(235, 189, 33);
  left: 0px;
  top: 0px;
}

.projects-page-block3 {
  width: 20px;
  height: 60vh;
  background-color: rgb(1, 24, 191);
  right: 0px;
  bottom: 0px;
}

@media (max-width: 480px) {
  .projects-page h1 {
    font-size: 2.5rem;
  }
  .projects-page h2 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
