.contact-container {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
}

.contact-info {
    margin-bottom: 1.2rem;
}



