@media (max-width: $md-media) {
  nav .navbar-main-links {
    display: none;
  }

 .navbar-hamburger-icon {position: relative; 
  height: 50px;
  width: 50px;}}
 
  





// @media (max-width: 1439px){


//   // project-cards-----------------------------------------------------------------

//   .projects-flex-container {align-items: center;}

//   .card2 {align-self: center}}

//   // .card1:hover .background-block {height: 130%;
//   // width: 100%;}




// // .card1 .slider, .card2 .slider, .card3 .slider {
// //   height: 0%;
// //   position: absolute;
// //   bottom: 0;
// //   left: 0;
// //   width: 50rem;
// //   background-color: white;
// //   transition-duration: 0.5s;
// //   transition-timing-function: ease-out;
// //   overflow: hidden;
// // }

// // .slider-text {
// //   position: absolute;
// //   height: 90%;
// //   width: 90%;
// //   top: 50%;
// //   left: 50%;
// //   -webkit-transform: translate(-50%, -50%);
// //   -ms-transform: translate(-50%, -50%);
// //   transform: translate(-50%, -50%);
// // }





// // .project-card:hover .slider {
// //   height: 30%;
// //   width: 100%;
// // }}





// .about-text-container{column-count: 1;}
// 