
.projects {
  position: relative;
  margin-top: 5vw;
  padding-bottom: 5vw;
  background-color: $background-color;
}

.projects-flex-container {
    width: 90vw;
    margin: 0 auto 0 auto;
}

.projects h2 {padding-bottom: 1rem;}


.project-card {
    margin-bottom: 5vh;
    border-left: solid 5px $primary-color;

    position: relative;
    background-color: white;
}




.project-links-container {
  width: 100%;
  padding-top: 3vh;
  display: flex;

}

.project-links-container a {
  color: $secondary-color;
  margin-right: 15px;
}

.project-links-container a:hover {
  border-bottom: 1px solid $secondary-color;
}

.project-card-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.project-card-image-container  img{
    width: 100%;
    display: block;
    
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  width: 90vw;
  height: 100%;
  background-color: $background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.project-card:hover .overlay {
  opacity: 0;
}

.slider {
  width: 90vw;
}

.slider-text {
    padding: 1rem;
}

// .border-accent {
//     background-color: $primary-color;
//     height: 0%;
//     width: 5px;
//     position: absolute;
//     top: 0;
//     right: 100%;
//     transition-duration: 0.5s;
//     transition-timing-function: ease-in;
  
// }

// .project-card:hover .border-accent {
//     height: 100%;
   
    
// }



//medium screens  

@media screen and (min-width: $lg-media) and (max-width: 1440px) {
  .project-card:hover .slider {
    width: 70%;
}
}

// extra large screens 

@media screen and (min-width: 1440px) {
  .project-card:hover .slider {
    width: 50%;
}
}



//Large screens ===================================================
@media (min-width: $lg-media) {

.projects {
  background-color: $background-color;
  margin-top: -50px;
}


.projects-flex-container {
  display: flex;
  width: 80vw;
  flex-direction: column;
  gap: 5rem;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.project-card {
  position: relative;
  z-index: 1;
  border-left: none;
  width: 50vw;
}

.project-card-image-container {
    position: relative;
    width: 50vw;
    
  
}

.project-card-image-container img {
  object-fit: cover;
}
//card positioning
// ------------------------------------------

.card2 {
  align-self: flex-end;
}

//overlay-styling ------------------------------------------

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  width: 100%;
  background-color: $background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.project-card:hover .overlay {
  opacity: 0;
}


// border accent 
.border-accent {
    display: none;
}
// card background blocks
// ----------------------------------------

.background-block {
  position: absolute;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

//card 1 background blocks ----------------------------------------

.card1 .background-block {
  background-color: $secondary-color;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: -50px;
}

.card1:hover .background-block {
  width: 120%;
}

// card 2 background blocks ---------------------------------------

.card2 .background-block:nth-child(1) {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  bottom: 40px;
  right: -50px;
}

.card2 .background-block:nth-child(2) {
  background-color: $secondary-color;
  width: 5%;
  height: 20%;
  right: 100%;
  bottom: 0%;
}

.card2:hover .background-block:nth-child(1) {
  width: 130%;
}

.card2:hover .background-block:nth-child(2) {width: 60%;}


// card 3 background blocks
// ---------------------------------------------------

.card3 .background-block {
  height: 5%;
  bottom: 100%;
}

.card3 .background-block:nth-child(1) {
  background-color: $secondary-color;
  width: 100%; 
  z-index: 1;
}

.card3 .background-block:nth-child(2) {
  background-color: $primary-color;
  width: 0%;
  left: 100%;

}

.card3:hover .background-block:nth-child(1) {
  width: 120%;
}

.card3:hover .background-block:nth-child(2) {
  width: 50%;
}

// Sliders -------------------------------------------------------

.slider {
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.slider-text {
  width: 18.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card1 .slider,
.card3 .slider {
  left: 100%;
}

.card2 .slider {
  right: 100%;
}



//slider accents ----------------------------------------------------

.card1 .slider-accent {
  background-color: $primary-color;
  width: 1rem;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.card1:hover .slider-accent {
  height: 20%;
}

}

// DESKTOP CODE =======================================================================

// .projects {
//   background-color: $background-color;
//   position: relative;
//   margin-top: 100px;
// }

// .projects-flex-container {
//   display: flex;
//   width: 80vw;
//   flex-direction: column;
//   gap: 5rem;
//   margin: 0 auto 0 auto;
//   padding-bottom: 100px;
// }

// .project-card {
//   position: relative;
//   width: 50rem;
//   z-index: 1;
// }

// .project-card img {
//   width: 100%;
//   height: 100%;
// }

// //card positioning
// // ------------------------------------------

// .card2 {
//   align-self: flex-end;
// }

// //overlay-styling ------------------------------------------

// .overlay {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   opacity: 0.2;
//   width: 100%;
//   background-color: $background-color;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-in;
// }

// .project-card:hover .overlay {
//   opacity: 0;
// }

// // card background blocks
// // ----------------------------------------

// .background-block {
//   position: absolute;
//   z-index: -1;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-out;
// }

// //card 1 background blocks ----------------------------------------

// .card1 .background-block {
//   background-color: $secondary-color;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: -40px;
//   left: -50px;
// }

// .card1:hover .background-block {
//   width: 120%;
// }

// // card 2 background blocks ---------------------------------------

// .card2 .background-block:nth-child(1) {
//   background-color: $primary-color;
//   width: 100%;
//   height: 100%;
//   bottom: 40px;
//   right: -50px;
// }

// .card2 .background-block:nth-child(2) {
//   background-color: $secondary-color;
//   width: 5%;
//   height: 20%;
//   right: 100%;
//   bottom: 0%;
// }

// .card2:hover .background-block:nth-child(1) {
//   width: 130%;
// }

// .card2:hover .background-block:nth-child(2) {width: 60%;}


// // card 3 background blocks
// // ---------------------------------------------------

// .card3 .background-block:nth-child(1) {
//   background-color: $secondary-color;
//   width: 100%;
//   height: 6%;
//   bottom: 99%;
// }

// .card3 .background-block:nth-child(2) {
//   background-color: $primary-color;
//   width: 0%;
//   height: 6%;
//   left: 100%;
//   bottom: 99%;
// }

// .card3:hover .background-block:nth-child(1) {
//   width: 120%;
// }

// .card3:hover .background-block:nth-child(2) {
//   width: 35%;
//   transform: translateX(43%);
// }

// // Sliders -------------------------------------------------------

// .slider {
//   height: 100%;
//   position: absolute;
//   top: 0;
//   width: 0;
//   background-color: white;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-out;
//   overflow: hidden;
// }

// .slider-text {
//   width: 18.75rem;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }

// .card1 .slider,
// .card3 .slider {
//   left: 100%;
// }

// .card2 .slider {
//   right: 100%;
// }

// .project-card:hover .slider {
//   width: 50%;
// }

// .card1 .slider-accent {
//   background-color: $primary-color;
//   width: 1rem;
//   height: 0px;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-in;
// }

// .card1:hover .slider-accent {
//   height: 20%;
// }
