
.header-container {
    position: fixed;
    z-index: 100;
    width: 100vw;
}

.nav-container {
    width: 95%;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
}

.nav-container a {
    font-size: 1.6rem;   
    
}

.nav-container a:hover  {
    color: black;
   
}

.navbar-main-links a:hover {
border-bottom: black solid 2px;
}

.navbar-own-logo {
  display: flex;
  align-items: center;
}

.navbar-own-logo img {
    height: 1.6rem
}

.navbar-main-links, .navbar-icon-links {
    display: flex;
    align-items: center;
}

.navbar-main-links li {
    padding: 0 20px;
}

.navbar-icon-links li {
    padding-left: 10px;
    
}

.navbar-hamburger-icon {
    display: none;
}
  
.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .nav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .nav-overlay a:hover, .nav-overlay a:focus {
    color: white;
  }
  
  .nav-overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 2.5%;
    font-size: 60px;
  }
  
@media screen and (max-width: 850px) {
    .navbar-hamburger-icon {
        display: flex;
        align-items: center;

    }

    
    
}


  @media screen and (max-height: 450px) {

    .nav-overlay a {
        font-size: 20px
    }

    .nav-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

   

  }