$primary-color: rgb(235,189,33);
$secondary-color: rgb(1,24,191);
$background-color: rgb(	244, 241, 237);


$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xl-media: 1200px;
$xxl-media: 1400px;

